<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doucouré English Academy</title>
</head>
<body>
    {% block navAc %}
     
    {% endblock navAc %}

    {% block navCours %}
     
    {% endblock navCours %}

    {% block h2 %}
    {% endblock h2 %}

 {% block coursList %}
    
 {% endblock coursList %}

 <footer>
        &copy; 2025 Doucouré English Academy. Tous droits réservés.
    </footer>
    


</body>
</html>
